<mat-toolbar color="primary" role="header">
  <!--<a mat-mini-fab color="warn" *ngIf="url!='debates'" [routerLink]="['./debates']">
    <mat-icon>arrow_back</mat-icon>
  </a>-->

  <span [ngSwitch]="url" class="accion">
    <span *ngSwitchCase="'debates'">Debates</span>
    <span *ngSwitchCase="'debate'">Debate</span>
    <span *ngSwitchCase="'usuario'">Usuario</span>
    <span *ngSwitchCase="'debate-en-curso'">Debate en curso</span>
    <span *ngSwitchCase="'nuevo'">Debate en curso</span>
    <span *ngSwitchDefault>Upp, 404</span>
  </span>

  <span class="remaining-space"></span>
  <a mat-button class="cabecera" [routerLink]="['./usuario']">
    <mat-icon class="icon">
      account_circle
    </mat-icon>
  </a>
</mat-toolbar>
<router-outlet #outlet="outlet"></router-outlet>